/* 全体適応 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
}

.content {
  padding: 0 20px;
}

/* 集計用 */

/* 円グラフ */
div.pie-chart {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
}

span#tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  padding: 0 5px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
  font-size: 11px;
  opacity: 0.8;
}

svg.graph, div.legend {
  float: left;
}

/* テーブル */
table.summarized {
  width: 100%;
  border-collapse: collapse;
  line-height: 1.5;
}

.summarized td, .summarized th {
  padding: 5px 10px;
  border: 1px solid #cccccc;
}

.summarized thead th {
  background: #dcdcd1;
  border-bottom: 2px solid #80EDBF;
}

.summarized tr:nth-child(even) td {
  background: #efefef;
}

.summarized td.total-time {
  width: 180px;
}

.summarized td.rate {
  width: 60px;
  text-align: right;
}
