extends layout

block content
  h1 timesコマンド
  h2 timesコマンドとは
  p
    | timesコマンドは Slack のスラッシュカスタムコマンドです。
  p
    | timesコマンドを使うことで、Slack上で自分が何の作業をしているのか共有することができ、また、どの作業をどのくらいの時間行ったか、あとで確認することが出来ます。
    | Slack に自分の(times)チャンネルを作っている場合などは特に便利です。
    | 詳細は
    a(href="times/help/") ヘルプページ
    | をご覧下さい！

  h2 導入の仕方
  p
    | timesコマンドをお使いのSlackチームに導入する場合は下記リンクから追加をお願いします。

  a(href=`https://slack.com/oauth/authorize?scope=${scopes}&client_id=${secrets_clientId}`, target='_blank')
    img(alt="Add to Slack" height="40" width="139"
      src="https://platform.slack-edge.com/img/add_to_slack.png"
      srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x")

