- var oneHourInMillisecond = 60 * 60 * 1000;
if summarizedData.length === 0
  p nothing
else
  table.summarized
    thead
      tr
        th.task-name
        th.total-time total time
        th.rate rate
    tbody
      each summarized in summarizedData
        tr
          td.task-name= summarized.taskName
          if summarized.totalTime < oneHourInMillisecond
            td.total-time < 1 hour
          else
            td.total-time= `${summarized.totalTime} hour(s)`
          if summarized.rate < 1
            td.rate < 1%
          else
            td.rate= `${summarized.rate}%`
