extends layout

block content
  h1 timesコマンド
  h2 timesコマンドとは
  p
    | timesコマンドは Slack のスラッシュカスタムコマンドです。
  p
    | timesコマンドを使うことで、Slack上で自分が何の作業をしているのか共有することができ、また、どの作業をどのくらいの時間行ったか、あとで確認することが出来ます。
    | Slack に自分の(times)チャンネルを作っている場合などは特に便利です。
    | 詳細は
    a(href="help/") ヘルプページ
    | をご覧下さい！

  h2 導入の仕方
  p
    | timesコマンドをお使いのSlackチームに導入する場合は
    a(href="slack/install") こちら
    | から追加をお願いします。
