doctype html
html
  head
    block head
      base(href=`${baseUrl}`)
      title= title
      link(rel='stylesheet', href='style/style.css')
      //- script(src='javascripts/main.js')
      //- link(rel='shortcut icon', href='favicon.ico', type='image/vnd.microsoft.icon')
      //- link(rel='icon', href='favicon.ico', type='image/vnd.microsoft.icon')

  body
    .content
      block content
