extends layout

append head
  script(src='js/d3/d3.min.js')
  script(src='js/pie-chart.js')

block content
  if errorMessage
    p= errorMessage
  else
    - var summarizedData = [];
    span#tooltip

    H1 The last a week
    - summarizedData = lastWeek;
    if lastWeek.length > 0
      .pie-chart.last-week
    include report-table.pug

    H1 The last a Month
    - summarizedData = lastMonth;
    if lastMonth.length > 0
      .pie-chart.last-month
    include report-table.pug

    H1 The last half a year
    - summarizedData = lastHalfYear;
    if lastHalfYear.length > 0
      .pie-chart.last-half-year
    include report-table.pug

    script
      if lastWeek.length > 0
        - var lastWeekStringified = JSON.stringify(lastWeek);
        | drawPieChart(!{lastWeekStringified}, '.pie-chart.last-week');
      if lastMonth.length > 0
        - var lastMonthStringified = JSON.stringify(lastMonth);
        | drawPieChart(!{lastMonthStringified}, '.pie-chart.last-month');
      if lastHalfYear.length > 0
        - var lastHalfYearStringified = JSON.stringify(lastHalfYear);
        | drawPieChart(!{lastHalfYearStringified}, '.pie-chart.last-half-year');
